/* ESTILOS GENERALES*/

*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #758694;
}
form{
    width: 100%;
    padding: 20px;
    padding-top: 1px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    background-color: #405D72;
    border-radius: 10px;
    color: #F7E7DC;
    
}
